{% extends 'base.html.twig' %}

{% block title %}My-Ecoach{% endblock %}

{% block body %}
<style>
    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }

    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }
</style>
    <div  style="padding-top: 5%" class="">


        <div class="d-flex flex-row align-items-center justify-content-between mx-sm-3" id="div-header">
            <h1 style="padding-left:40%">{{ months[month-1] }}  {{ year }}</h1>





            <div id="div-header2">
                {% if  month == 12 %}
                    {%set cloneM = 1 %}
                    <a href="/calendrier/ {{ month-1}}/{{ year }}" id="btn" class=" btn btn-primary">&lt</a>
                    <a href="{{ path('security_calendrier',{ monthN: month-1,yearN:year   }) }}">&lt</a>
                    <a href="/calendrier/{{cloneM}}/{{ year+1 }}" id="btn" class=" btn btn-primary">&gt</a>
                    {% elseif month == 1 %}
                        {%set cloneM = 12 %}

                        <a href="/calendrier/{{cloneM}}/{{ year-1}}" id="btn" class=" btn btn-primary">&lt</a>
                        <a href="/calendrier/{{ month+1 }}/{{ year }}" id="btn" class=" btn btn-primary">&gt</a>
                    {% else %}

                        <a href="/calendrier/ {{ month-1}}/{{ year }}" id="btn" class=" btn btn-primary">&lt</a>
                        <a href="/calendrier/{{ month+1 }}/{{ year }}" id="btn" class=" btn btn-primary">&gt</a>
                {% endif %}

            </div>
        </div>

        <?php'test';?>


        <div class="Calendar">


            <table class="calendar__table calendar__table--{{ weeks }}">


                {% for i in 0..weeks %}


                    <tr>
                        {% for keys, day in days  %}

                            {% set clone = start_day %}
                            {% set idx = loop.index %}
                            {% set kk = keys+i*7 %}

                            {% set str = '+'~kk~' days' %}

                            {% set clone2 = start2|date_modify(str)|date('d') %}
                            {% set clone3 = start2|date_modify(str)|date('Y-m') %}


                            <td class="{{  Month.withInMonth(date(clone3)) ? '' : 'calendar__otherMonth'}}">
                                {% if i == 0 %}
                                    <div class="calendar__weekday">{{day}}</div>
                                {% endif %}


                                <div>
                                    {% if user.getIscoach() %}
                                    <a class="calendar__day" href="{{ path('security_registration_event',{ Date: start2|date_modify(str)|date('Y-m-d')  }) }}">{{clone2}}</a>
                                    {% else %}
                                        {{clone2}}
                                    {% endif %}
                                    <br>
                                    {% for event in events %}
                                    {% if  event.date == start2|date_modify(str) and event.coach == app.user.coach %}
                                        <a href="{{ path('security_edit_event',{ id:  event.id   }) }}">{{ event.name }}  {{ event.hourStart|date('H:i')  }}h à {{ event.hourEnd|date('H:i') }}h -  {{ (event.client == null) ? '' : event.client.user.username  }}</a><br>
                                    {% elseif  event.date == start2|date_modify(str)  and event.client == null %}
                                        <a href="{{ path('security_edit_event',{ id:  event.id   }) }}">{{ event.name }}  {{ event.hourStart|date('H:i')  }}h à {{ event.hourEnd|date('H:i') }}h -  {{ (event.client == null) ? '' : event.client.user.username  }}</a><br>
                                    {%elseif  event.date == start2|date_modify(str)  %}

                                                <p>{{ event.name }}  {{ event.hourStart|date('H:i')  }} - {{ event.hourEnd|date('H:i') }}</p>


                                    {% endif %}


                                </div>
                                {% endfor %}


                            </td>
                        {% endfor %}

                    </tr>
                {% endfor %}
            </table>

        </div>

    </div>
{% endblock %}
