{% extends 'base.html.twig' %}
{% block body %}

    {{ form_start(form) }}

    {{ form_row(form.text, {'label': 'Votre messages :'}) }}
    {{ form_row(form.contenu, {'label': ' Résumé :'}) }}
    {{ form_row(form.langProj, {'label': 'Langue du Projet :'}) }}
    {{ form_row(form.langTrad, {'label': 'Traduction(s) désirée(s) :'}) }}

    <button type="submit" class="btn btn-primary">Enregistrer</button>
    {{ form_end(form) }}
{% endblock %}