{% extends 'base.html.twig' %}

{% block title %}My-Ecoach{% endblock %}

{% block body %}
<style>
    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }

    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }

    .center {
      display: block;
      margin: 0 auto;
  }
  .imagehome {
    width: 100%;
    height: 35vw;
    object-fit: cover;
  }

  </style>
  {% if not app.user %}
  <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
      {# <li data-target="#carouselExampleCaptions" data-slide-to="2"></li> #}
      {# <li data-target="#carouselExampleCaptions" data-slide-to="3"></li> #}
      {# <li data-target="#carouselExampleCaptions" data-slide-to="4"></li> #}
      {# <li data-target="#carouselExampleCaptions" data-slide-to="5"></li> #}
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active" data-interval="8000">
        <img src="{{ asset('/img/Cover.jpg') }}" class="d-block w-60 center imagehome" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h1>Bienvenue sur My e-coach</h1>
          <a class="btn btn-dark" href="{{ path('security_registration') }}">INSCRIVEZ-VOUS</a>
          <a style="color: black;" class="btn btn-light" href="{{ path('security_login') }}">CONNECTEZ-VOUS</a>
        </div>
      </div>
      <div class="carousel-item" data-interval="8000">
        <img src="{{ asset('/img/Produit.PNG') }}" class="d-block w-60 center imagehome" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h1 style="color: black;">Proposez vos produits</h1>
          <p style="color: black;">Mettez à disposition vos conseils nutritions et autres produits à votre clientèle.</p>
        </div>
      </div>
      {# <div class="carousel-item" data-interval="8000">
        <img src="{{ asset('/img/Cover.jpg') }}" class="d-block w-60" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Third slide label</h5>
          <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
        </div>
      </div> #}
      {# <div class="carousel-item" data-interval="8000">
        <img src="{{ asset('/img/Cover.jpg') }}" class="d-block w-60" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Third slide label</h5>
          <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
        </div>
      </div> #}
      {# <div class="carousel-item" data-interval="8000">
        <img src="{{ asset('/img/Cover.jpg') }}" class="d-block w-60" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Third slide label</h5>
          <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
        </div>
      </div> #}
      {# <div class="carousel-item" data-interval="8000">
        <img src="{{ asset('/img/Cover.jpg') }}" class="d-block w-60" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Third slide label</h5>
          <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
        </div>
      </div> #}
    </div>
    <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  {% else %}
    <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
      <div class="col-md-5 p-lg-5 mx-auto my-5">
        <h1 class="display-4 font-weight-normal">1er Graphique</h1>
        <p class="lead font-weight-normal">WOW ce graphique</p>
        <a class="btn btn-outline-secondary" href="#">Coming soon</a>
      </div>
    </div>
    
    <div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
      <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 overflow-hidden">
        <div class="my-3 p-3">
          {% if app.user.Iscoach == 1 %}
            {% if Coach_.notes|length > 0 %}
              {% for note in Coach_.notes %}
                {% if note == Coach_.notes|last %}
                  <div class="card mb-4 shadow-sm" width="100%" height="225" preserveAspectRatio="xMidYMid slice" focusable="false">
                    <div class="card-body">
                      <h5 class="card-title"> 
                        {{ note.Title }}
                        {# Titre #}
                      </h5>
                      <h6 class="card-subtitle mb-2 text-muted">
                        Note : 
                      </h6>
                      <p class="card-text">
                        {{ note.Texte|nl2br }}
                        {# Text #}
                      </p>
                      <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                          <a type="button" class="btn btn-sm btn-outline-secondary" href="{{ path('security_notes') }}">Voir plus...</a>
                        </div>
                        <small class="text-muted">{{ note.client.user.username }}</small>
                        <small class="text-muted">{{  note.createdAt | date('d/m/Y') }} - {{  note.createdAt | date('H:i') }}</small>
                        {# <small class="text-muted">Salut</small>
                        <small class="text-muted">00:00:00 00/00/00</small> #}
                      </div>
                    </div>
                  </div>
                {% endif %}
              {% endfor %}
            {% else %}
              <div class="card mb-4 shadow-sm" width="100%" height="225" preserveAspectRatio="xMidYMid slice" focusable="false">
                <div class="card-body">
                  <h5 class="card-title"> 
                    Les notes !
                  </h5>
                  <p class="card-text">Ici, vous pourrez la dernière note rédigée pour votre client concernant ses séances. Vous n'avez encore rien publié.</p>
                  {% if Coach_.Clients|length > 0 %}
                  <p class="card-text">Vous n'avez pas encore de clients, songez à bien vous lier grâce au <a style="text-decoration: none;" href="{{ path('security_profil') }}"><strong>token</strong></a> du client.</p>
                  {% endif %}
                  <p class="card-text">Besoin d'aide ? Cliquez ci-dessous, sur "Aide"</p>
                  
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <a type="button" class="btn btn-sm btn-outline-secondary" href="{{ path('ecoach_aide') }}">Aide</a>
                    </div>
                  </div>
                </div>
              </div>
            {% endif %}
          {% else %}
            {% if Client_.coach == null %}
          
              <div class="card mb-4 shadow-sm" width="100%" height="225" preserveAspectRatio="xMidYMid slice" focusable="false">
                <div class="card-body">
                  <h5 class="card-title"> 
                    Les notes !
                  </h5>
                  <p class="card-text">Ici, vous pourrez suivre les notes rédigées par votre coach concernant vos séances .</p>
                  <p class="card-text">Vous n'avez pas encore de coach, songez à bien vous lier grâce à votre <a style="text-decoration: none;" href="{{ path('security_profil') }}"><strong>token</strong></a>, et à confirmer le mail qui vous a été envoyé.</p>
                  <p class="card-text">Besoin d'aide ? Cliquez ci-dessous, sur "Aide"</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <a type="button" class="btn btn-sm btn-outline-secondary" href="{{ path('ecoach_aide') }}">Aide</a>
                    </div>
                  </div>
                </div>
              </div>

            {% else %}
              {% if Client_.coach.notes|length < 1 %}
            
                <div class="card mb-4 shadow-sm" width="100%" height="225" preserveAspectRatio="xMidYMid slice" focusable="false">
                  <div class="card-body">
                    <h5 class="card-title"> 
                      Les notes !
                    </h5>
                    <p class="card-text">Ici, vous pourrez suivre les notes rédigées par votre coach concernant vos séances. Votre coach n'en a pas encore publiées.</p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        <a type="button" class="btn btn-sm btn-outline-secondary" href="{{ path('ecoach_aide') }}">Aide</a>
                      </div>
                    </div>
                  </div>
                </div>

              {% else %}

                {% for note in Client_.coach.notes %}
                  {% if note.Client == Client_ %}
                    {% if note == Client_.coach.notes|last %}
                      <div class="card mb-4 shadow-sm" width="100%" height="225" preserveAspectRatio="xMidYMid slice" focusable="false">
                        <div class="card-body">
                          <h5 class="card-title"> 
                            {{ note.Title }}
                            {# Titre #}
                          </h5>
                          <h6 class="card-subtitle mb-2 text-muted">
                            Note : 
                          </h6>
                          <p class="card-text">
                            {{ note.Texte|nl2br }}
                            {# Text #}
                          </p>
                          <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                              <a type="button" class="btn btn-sm btn-outline-secondary" href="{{ path('security_notes') }}">Voir plus...</a>
                            </div>
                            <small class="text-muted">{{ note.client.user.username }}</small>
                            <small class="text-muted">{{  note.createdAt | date('d/m/Y') }} - {{  note.createdAt | date('H:i') }}</small>
                          {# <small class="text-muted">Salut</small>
                          <small class="text-muted">00:00:00 00/00/00</small> #}
                          </div>
                        </div>
                      </div>
                    {% endif %}
                  {% endif %}
                {% endfor %}

              {% endif %}
            {% endif %}
          {% endif %}
          </div>
        </div>
  
        <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 overflow-hidden">
          <div class="my-3 p-3">
            {% if app.user.Iscoach == 1 %}
              {% if Coach_.produits|length > 0 %}
                {% for produit in produits %}
                  {% if produit == Coach_.produits|last %}
                    <div class="card mb-4 shadow-sm">
                      {% if produit.image.name %}
                      <img class="bd-placeholder-img card-img-top"src="{{ asset('/uploads/'~produit.image.name) }}" alt="Image not Found"></img>
                      {% else %}
                      <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Aucune Image</text></svg>
                      {% endif %}
                      <div class="card-body">
                        <p class="card-text">{{ produit.text|nl2br }}</p>
                        <div class="d-flex justify-content-between align-items-center">
                          <div class="btn-group">
                            <a type="button" class="btn btn-sm btn-outline-secondary" href="{{ path('security_produits') }}">Voir plus...</a>
                          </div>
                          <small class="text-muted">{{  produit.createdAt | date('d/m/Y') }} - {{  produit.createdAt | date('H:i') }}</small>
                        </div>
                      </div>
                    </div>
                  {% endif %}
                {% endfor %}
              {% else %}
              <div class="card mb-4 shadow-sm">
                <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Pas encore de produit</text></svg>
                <div class="card-body">
                  <p class="card-text">Ici, vous pourrez voir le dernier produit que vous publierez, pour accompagner l'entrainement de vos clients. Vous n'avez pas encore publié de produits</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <a type="button" class="btn btn-sm btn-outline-secondary" href="{{ path('security_produits') }}">Publier un produit</a>
                    </div>
                  </div>
                </div>
              </div>
              {% endif %}
              
            {% else %}
              {% if Client_.coach == null %}
                <div class="card mb-4 shadow-sm">
                  <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Pas encore de produit</text></svg>
                  <div class="card-body">
                    <p class="card-text">Ici, vous pourrez voir les produits que votre coach publiera pour vous accompagner dans votre entrainement</p>
                    <p class="card-text">Vous n'avez pas encore de coach, songez à bien vous lier grâce à votre <a style="text-decoration: none;" href="{{ path('security_profil') }}"><strong>token</strong></a>, et à confirmer le mail qui vous a été envoyé. Besoin d'aide ?</p>
                    <p class="card-text">Besoin d'aide ? Cliquez ci-dessous, sur "Aide"</p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        <a type="button" class="btn btn-sm btn-outline-secondary" href="{{ path('ecoach_aide') }}">Aide</a>
                      </div>
                    </div>
                  </div>
                </div>
              {% else %}

                {% if Client_.coach.produits|length < 1 %}
                  <div class="card mb-4 shadow-sm">
                    <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Pas encore de produit</text></svg>
                    <div class="card-body">
                      <p class="card-text">Ici, vous pourrez voir les produits que votre coach publiera pour vous accompagner dans votre entrainement. Votre coach n'en a pas encore publiés.</p>
                      <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                          <a type="button" class="btn btn-sm btn-outline-secondary" href="{{ path('security_produits') }}">Voir plus...</a>
                        </div>
                      </div>
                    </div>
                  </div>
                {% else %}

                  {% for produit in Client_.coach.produits %}
                    {% if produit == Client_.coach.produits|last %}
                      <div class="card mb-4 shadow-sm">
                        {% if produit.image.name %}
                        <img class="bd-placeholder-img card-img-top" src="{{ asset('/uploads/'~produit.image.name) }}" alt="Image not Found"></img>
                        {% else %}
                        <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Aucune Image</text></svg>
                        {% endif %}
                        <div class="card-body">
                          <p class="card-text">{{ produit.text|nl2br }}</p>
                          <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                              <a type="button" class="btn btn-sm btn-outline-secondary" href="{{ path('security_produits') }}">Voir plus...</a>
                            </div>
                            <small class="text-muted">{{  produit.createdAt | date('d/m/Y') }} - {{  produit.createdAt | date('H:i') }}</small>
                          </div>
                        </div>
                      </div>
                    {% endif %}
                  {% endfor %}

                {% endif %}
              {% endif %}
            {% endif %}
          </div>
        </div>
      </div>
    
    <div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
      <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
        <div class="my-3 p-3">
          <h2 class="display-5">4eme Graphique</h2>
          <p class="lead">WOW ce graphique</p>
        </div>
      </div>

      <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
        <div class="my-3 p-3">
          <h2 class="display-5">5eme Graphique</h2>
          <p class="lead">WOW ce graphique</p>
        </div>
      </div>
    </div>
  {% endif %}
{% endblock %}
