{% extends 'base.html.twig' %}

{% block title %}My-Ecoach{% endblock %}

{% block body %}
<div class="col-md-5 p-lg-5 mx-auto my-5">
  <h1 class="display-4 font-weight-normal">Les messages</h1>
  {% if app.user.Iscoach == true %}
  <p class="lead text-muted">Envoyer des messages à vos clients</p>
  {% else %}
  <p class="lead text-muted">Envoyer des messages à votre coach</p>
  {% endif %}
</div>
<div id="app" data-username="{{ app.user.username }}"></div>

{% endblock %}

{% block javascript %}
    {% if app.user.Iscoach == 1 %}
        <br><div>
            {% if Coach_.clients|length < 1 %}
              <p style="text-align: center" class="lead text-muted">Vous n'avez pas encore de client, songez à bien vous lier grâce au token de votre client. Vous pouvez en saisir dans la page <a href="{{ path('security_profil') }}" style="text-decoration: none">profil</a>.</p>
              <br><br><br><br>
            {% else %}
              {{ encore_entry_script_tags('app') }}
            {% endif %}
        </div>
    {% else %}
        {% if Client_.coach == null %}
            <p style="text-align: center" class="lead text-muted">Vous n'avez pas encore de coach, songez à bien vous lier grâce à votre token dans la page <a href="{{ path('security_profil') }}" style="text-decoration: none">profil</a>, et à confirmer le mail qui vous a été envoyé.</p><br>
            <br><br><br><br>
        {% else %}
            {{ encore_entry_script_tags('app') }}
        {% endif %}
    {% endif %}

{% endblock %}
