{% extends 'base.html.twig' %}
{% block body %}
<style>
    .form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
    }
    .form-signin .checkbox {
    font-weight: 400;
    }
    .form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
    }
    .form-signin .form-control:focus {
    z-index: 2; 
    }
    .form-signin input {
    margin-bottom: -1px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    }
</style>
<div style="margin-top: 5%; margin-bottom: 10%;" class="form-signin">
    <h1 class="h3 mb-3 font-weight-normal"> Inscrivez-vous !</h1>


    {{ form_start(form, {'class': 'form-signin'}) }}

    {{ form_row(form.username, {'label': 'Nom d\'utilisateur', 'attr':{'placeholder': 'Entrer un username...', 'class': 'form-control'}}) }}
    {{ form_row(form.email, {'label': 'Adresse email', 'attr':{'placeholder': 'Entrer une adresse mail...', 'class': 'form-control'}}) }}
    {{ form_row(form.password, {'label': 'Mot de passe', 'attr':{'placeholder': 'Entrer un mot de passe...', 'class': 'form-control'}}) }}
    {{ form_row(form.confirm_password, {'label': 'Confirmer le mot de passe', 'attr':{'placeholder': 'Resaisir le mot de passe...', 'class': 'form-control'}}) }}
    {{ form_row(form.coach, {'label': 'Êtes-vous coach ?', 'attr':{'class': 'form-control'}}) }}
    <button class="btn btn-lg btn-primary btn-block" style="margin-top: 25px; background-color: rgba(0, 0, 0, .85); border-color: rgba(0, 0, 0, .85);" type="submit">Inscription</button>
    <p class="mt-5 mb-3 text-muted">&copy; My e-Coach - 2020</p>
    {{ form_end(form) }}
</div>
{% endblock %}