<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}My-Ecoach{% endblock %}</title>
        <!-- CSS only -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ asset('css/main.css') }}">
        <!-- <link rel="stylesheet" href="{{ asset('css/second.css') }}"> -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

        <!-- JS, Popper.js, and jQuery -->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        {# <script> window.jQuery || document.write('<script src="/docs/4.5/assets/js/vendor/jquery.slim.min.js"><\/script>')</script> #}
        {# <script src="/docs/4.5/dist/js/bootstrap.bundle.min.js" integrity="sha384-1CmrxMRARb6aLqgBO7yyAxTOQE2AKb9GfXnEo760AUcUmFx3ibVJJAzGytlQcNXd" crossorigin="anonymous"></script> #}
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
      <style>
        .container {
            max-width: 80%;
          }

          /*
           * Custom translucent site header
           */

          .site-header {
            background-color: rgba(0, 0, 0, .85);
            -webkit-backdrop-filter: saturate(180%) blur(20px);
            backdrop-filter: saturate(180%) blur(20px);
          }
          .site-header a {
            color: #999;
            transition: ease-in-out color .15s;
          }
          .site-header a:hover {
            color: #fff;
            text-decoration: none;
          }

          /*
           * Dummy devices (replace them with your own or something else entirely!)
           */

          .product-device {
            position: absolute;
            right: 10%;
            bottom: -30%;
            width: 300px;
            height: 540px;
            background-color: #333;
            border-radius: 21px;
            -webkit-transform: rotate(30deg);
            transform: rotate(30deg);
          }

          .product-device::before {
            position: absolute;
            top: 10%;
            right: 10px;
            bottom: 10%;
            left: 10px;
            content: "";
            background-color: rgba(255, 255, 255, .1);
            border-radius: 5px;
          }

          .product-device-2 {
            top: -25%;
            right: auto;
            bottom: 0;
            left: 5%;
            background-color: #e5e5e5;
          }


          /*
           * Extra utilities
           */

          .flex-equal > * {
            -ms-flex: 1;
            flex: 1;
          }
          @media (min-width: 768px) {
            .flex-md-equal > * {
              -ms-flex: 1;
              flex: 1;
            }
          }

          .overflow-hidden { overflow: hidden; }
    </style>
    <nav class="site-header sticky-top py-1">
      <div class="container d-flex flex-column flex-md-row justify-content-between">
        <a class="py-2" href="{{ path('index') }}" aria-label="Product">
          <svg width="24" height="24" viewBox="0 0 16 16" class="bi bi-bar-chart" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M4 11H2v3h2v-3zm5-4H7v7h2V7zm5-5h-2v12h2V2zm-2-1a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h2a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1h-2zM6 7a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v7a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1V7zm-5 4a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1v-3z"/>
          </svg>
        </a>
        {% if not app.user %}
          <a class="py-2 d-none d-md-inline-block" href="{{ path('security_registration') }}">Inscription</a>
          <a class="py-2 d-none d-md-inline-block" href="{{ path('security_login') }}">Connexion</a>
          <a class="py-2 d-none d-md-inline-block" href="{{ path('informations') }}">Informations</a>
          <a class="py-2 d-none d-md-inline-block" href="{{ path('support') }}">Support</a>
          <a class="py-2 d-none d-md-inline-block" href="{{ path('contact') }}">Contact</a>
        {% else %}
          <a class="py-2 d-none d-md-inline-block" href="{{ path('security_profil') }}">{{ app.user.username }}</a>
          <a class="py-2 d-none d-md-inline-block" href="{{ path('security_produits') }}">Produits</a>
          <a class="py-2 d-none d-md-inline-block" href="{{ path('security_notes') }}">Notes</a>
          <a class="py-2 d-none d-md-inline-block" href="{{ path('security_messages') }}">Messages</a>
          <a class="py-2 d-none d-md-inline-block" href="{{ path('security_calendrier') }}">Calendrier</a>
          <a class="py-2 d-none d-md-inline-block" href="{{ path('informations') }}">Informations</a>
          <a class="py-2 d-none d-md-inline-block" href="{{ path('support') }}">Support</a>
          <a class="py-2 d-none d-md-inline-block" href="{{ path('contact') }}">Contact</a>
        {% endif %}
      </div>
    </nav>
        <div class="container">
          {% block body %}{% endblock %}

      </div>
      {% block javascript %}{% endblock %}
  </body>
  <footer class="container py-5">
      <div class="row">
        <div class="col-12 col-md">
          <svg width="24" height="24" viewBox="0 0 16 16" class="bi bi-bar-chart" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M4 11H2v3h2v-3zm5-4H7v7h2V7zm5-5h-2v12h2V2zm-2-1a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h2a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1h-2zM6 7a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v7a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1V7zm-5 4a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1v-3z"/>
        </svg>
        <small class="d-block mb-3 text-muted">&copy; 2020</small>
        </div>
        {% if app.user %}
        <div class="col-5 col-md">
          <h5>Fonctionnalités</h5>
          <ul class="list-unstyled text-small">
            <li><a class="text-muted" href="{{ path('security_profil') }}">Mon profil</a></li>
            <li><a class="text-muted" href="{{ path('security_produits') }}">Produits</a></li>
            <li><a class="text-muted" href="{{ path('security_messages') }}">Messages</a></li>
            <li><a class="text-muted" href="{{ path('security_calendrier') }}">Calendrier</a></li>
          </ul>
        </div>
        {% endif %}
        <div class="col-5 col-md">
          <h5>Contact</h5>
          <ul class="list-unstyled text-small">
            <li><a class="text-muted" href="{{ path('support') }}">Support</a></li>
            <li><a class="text-muted" href="{{ path('contact') }}">Contact</a></li>
          </ul>
        </div>
        <div class="col-5 col-md">
          <h5>Informations</h5>
          <ul class="list-unstyled text-small">
            <li><a class="text-muted" href="{{ path('informations') }}">Informations</a></li>
            <li><a class="text-muted" href="{{ path('ecoach_aide') }}">Aide</a></li>
          </ul>
        </div>



      </div>
    </footer>
</html>
